spring:
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    generate-ddl: false
    show-sql: false
  output:
    ansi:
      enabled: always
  datasource:
    driver-class-name: ${DATABASE_DRIVER:com.mysql.cj.jdbc.Driver}
#    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/secret_juju?serverTimezone=Asia/Seoul}
    url: ${DATABASE_URL:jdbc:mysql://database.dsm-cms.com/secret_juju?serverTimezone=Asia/Seoul}
    username: ${DATABASE_USERNAME:root}
#    password: ${DATABASE_PASSWORD:1111}
    password: ${DATABASE_PASSWORD:Fvf.qy)gGmbEa3</}
server:
  address: 0.0.0.0
  port: 5190
  tomcat:
    threads:
      max: 100
    max-connections: 4000